@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/src/app/assets/fonts/Inter/static/Inter_18pt-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'Inter';
  src: url('/src/app/assets/fonts/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} */

@font-face {
  font-family: "Poppins";
  src: url("/src/app/assets/fonts/Poppins/Poppins-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/app/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.textshadow {
  text-shadow: 0px 1px 0px;
}

.consulybox {
  box-shadow: 0px 0px 8px darkgoldenrod;
}

.service_card_box{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.exp_shadow{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.opcity{
  opacity: 0.2;
}

.tranformation{
  transform: rotate(180deg);
}

.innovatibox-shadow{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}